$white: #ffffff;
$black: #000000;

$primary: #ff5400;

$light: #ede7d9;

$grey: #2a2d34;

$spacing-xs: 0.8rem;
$spacing-sm: 1.6rem;
$spacing-md: 2.4rem;
$spacing-lg: 3.2rem;

$weight-light: 200;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$font-size-heading-xl: 3.8rem;
$font-size-heading-lg: 2.8rem;
$font-size-heading-md: 2.4rem;
$font-size-heading-sm: 1.8rem;
$font-size-body-lg: 1.6rem;
$font-size-body-md: 1.4rem;
$font-size-body-sm: 1.2rem;

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: $light;
  color: $grey;
  font-size: $font-size-body-lg;
  font-family: "Delicious Handrawn", serif;
  font-weight: $weight-regular;
  font-style: normal;
}

.header {
  padding: 24px;
  .title {
    text-align: center;
    font-size: 4rem;
  }
}

.task-form {
  display: flex;
  justify-content: center;

  .form-input {
    border: 0.1rem solid $grey;
    border-radius: 0.4rem;
    width: 60%;
    padding: $spacing-xs;
    margin-right: $spacing-md;
  }

  .form-input::placeholder {
    color: $grey;
  }

  .form-input:focus {
    outline: 0.2rem $primary solid;
  }

  .form-button {
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    width: 20%;
    padding: $spacing-xs;
  }
}

//FILTER
.filter-list {
  display: flex;
  justify-content: center;
  margin: $spacing-lg 0;
  gap: 0 $spacing-md;

  .filter {
    border: 0.1rem solid $grey;
    border-radius: 0.4rem;
    padding: $spacing-xs;
    cursor: pointer;
  }
}

//TASKS LIST
.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing-lg 0;
  gap: $font-size-heading-md;
  .task-card {
    position: relative;
    display: flex;
    border: 0.1rem solid $grey;
    border-radius: 0.4rem;
    width: 60%;
    padding: $spacing-xs;

    .task-checkbox {
      appearance: none;
      cursor: pointer;
      border: 0.1rem solid $grey;
      border-radius: 0.4rem;
      width: 2rem;
      height: 2rem;
      margin-right: $spacing-xs;
      &:checked {
        border: 0.1rem solid $grey;
        background-color: $primary;
      }
    }

    .task-title {
      font-weight: $weight-bold;
    }

    .task-trash {
      position: absolute;
      right: $spacing-xs;
    }
  }
}
